body, html {
    background-color: #272727;
    padding: 0 !important;
    margin: 0 !important;
}

#header {
    width: calc(100% - 20px);
    background-color: #1a1a1a;
    padding: 10px;
}

#header h1 {
    line-height: normal;
    margin: 0;
    color: white;
}

li, a, p {
    color: white;
}

p {
    margin: 0;
}

.pane {
    margin: 20px;
    padding: 20px;
    width: calc(100% - 82px);
    background-color: #1f1f1f;
    border: 2px solid #363636;
    border-radius: 10px;
}
