<!doctype html>
<html>
    <body>
        <ul>
            <% albums.each do |album| %>
                <li><a href="<%= album.url %>">
                    <%= album.name %>
                </a></li>
            <% end %>
        </ul>
    </body>
</html>