<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="header">
            <h1>Albums</h1>
        </div>

        <% if authenticated %>
            <form action="/unauthenticate" method="post">
                <input type="submit" value="Sign out">
            </form>
        <% else %>
            <form action="/authenticate" method="post">
                <input type="password" name="password" id="password">
                <input type="submit" value="Sign in">
            </form>
        <% end %>
        <ul>
            <% albums.each do |album| %>
                <li><a href="<%= album.url %>">
                    <%= album.name %>
                </a></li>
            <% end %>
        </ul>
    </body>
</html>