<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="header">
            <h1>Albums</h1>
        </div>

        <div id="album-list">
            <% albums.each do |album| %>
                <a href="<%= album.url %>">
                    <div class="album-list-item">
                        <img class="album-list-item-cover" src="<%= album.cover_url %>" />
                        <div class="album-list-item-title">
                            <%= album.name %>
                        </div>
                    </div>
                </a>
            <% end %>
        </div>

        <div class="pane">
            <% if authenticated %>
                <p>
                    You are logged in.
                    <form action="/unauthenticate" method="post">
                        <input type="submit" value="Log out">
                    </form>
                </p>
            <% else %>
                <p>
                    <a href="/login">Log in</a> to upload and manage your photos.
                </p>
            <% end %>
        </div>
    </body>
</html>