<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="header">
            <h1>Albums</h1>
        </div>

        <ul>
            <% albums.each do |album| %>
                <li><a href="<%= album.url %>">
                    <%= album.name %>
                </a></li>
            <% end %>
        </ul>

        <div class="pane">
            <% if authenticated %>
                <p>
                    You are logged in.
                    <form action="/unauthenticate" method="post">
                        <input type="submit" value="Log out">
                    </form>
                </p>
            <% else %>
                <p>
                    <a href="/login">Log in</a> to upload and manage your photos.
                </p>
            <% end %>
        </div>
    </body>
</html>